a.button {
    font-family: sans-serif;
    background: #84d5fa;
    font-size: 10px; 
    border: none;
    border-radius: 3px; /* Smaller rounded corners */
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 8px 10px;
    letter-spacing: 1px; /* Slightly tighter letter spacing */
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1px 4px; /* Adjusted margins */
    display: inline-block;
    position: relative;
    z-index: 10;
}

a.button:hover {
    opacity: 0.8;
}
