* {
    box-sizing: border-box;
}

.box {
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 0px 25px rgba(255, 255, 255, 0.8);
    padding: 10px;
    position: relative;
}

.box h2 {
    margin: 0px;
    margin-top: 0px ;
    margin-bottom: 15px ;
    padding: 0;
    font-size: 16px ;
    font: 'Open Sans';
    color: #ffffff;
    text-align: justify;
}

.box p {
    margin: 0px;
    margin-top: 5px ;
    margin-bottom: 0px ;
    padding: 0;
    font-size: 16px ;
    font: 'Open Sans';
    color: #ffffff;
    text-align: justify;
}

.box iframe {
    padding: 1px;
    position: center;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
