/* grid */
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 20px;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  z-index: 10;
}

/* Non-grid specific CSS that go with the masonry-style grids*/  


.item {
  background-color: #ffffff;
  z-index: 10;
}

.photothumb{
  width: 100%;
  z-index: 10;
}

.title {
  padding: 20px;
  z-index: 10;
 }

.title h3{
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 10;
}

.project .title{
  font-size: 1em;
  background-color: #00ccff;
  z-index: 10;
}

.blog .title{
  background-color: #ff6034;
  font-size: 1em;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 10;
}

.photo .title{
  font-size: 1em;
  background-color: #737373
  ;
  z-index: 10;
}

.desc img{
  width: 50%;
  margin: 0 10px 10px 0;
  float: left;
}

.desc {
  margin-bottom: 10px;
  padding: 10px 10px 5px 10px;
}

.desc p{
  margin-bottom: 10px;
  
}
