/snake.html* linguist-vendored
/version\ 1.html* linguist-vendored
/Index\ copy.html* linguist-vendored

/index.html linguist-language=html
/json/particles.json linguist-language=json
/json/particles2.json linguist-language=json

/js/particles.js linguist-language=JavaScript
/js/particles2.js linguist-language=JavaScript

/_config.yml linguist-language=yml
